{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dogs/dog-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Dog List</h1>
  <img src="{% static 'images/black-dog.jpeg' %}" alt="A black dog" />
  <img src="{% static 'images/brown-dog.jpeg' %}" alt="A brown dog" />
  <img src="{% static 'images/brown-puppy.jpeg' %}" alt="A brown puppy" />
  <img src="{% static 'images/happydog.png' %}" alt="A happy dog" />
</section>

<section class="card-container">
  {% for dog in dogs %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/dalmation-dog.jpeg' %}" 
            alt="A dalmation dog"
          >
        </div>
        <h2 class="card-title">{{ dog.name }}</h2>
        {% if dog.age > 0 %}
          <p>A {{ dog.age }} year old {{ dog.breed }}</p>
        {% else %}
          <p>A {{ dog.breed }} puppy.</p>
        {% endif %}
        <p><small>{{ dog.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}